{% extends 'base.html.twig' %}

{% block title %}HomePage{% endblock %}
{% block withoutContainer %}
	{{ parent() }}
	<div style="background: url({{ asset('images/fig.jpg') }}) no-repeat;background-size:cover;height:calc(100vh - 6.4rem);" class="d-flex align-items-center">
		<p class="text-center h1 w-100 text-white">Enjoy the life!</p>
	</div>
{% endblock %}
{% block mainContent %}
	{{ parent() }}
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
		{% for trick in tricks %}
			<div class="col">
				<div class="card text-center h-100">
					{% for image in trick.images %}
						{% if loop.first %}
							<div class="embed-responsive embed-responsive-16by9">
								<img src="{{ asset('images/' ~ image.filename) }}" class="card-img-top embed-responsive-item" alt="{{ image.name }}"/>
							</div>
						{% endif %}
					{% endfor %}
					<div class="card-body">
						<a href="{{ path('trick_show', {'category_slug':trick.category.slug, 'slug':trick.slug}) }} ">{{ trick.name }}</a><br>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}
